<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchenpan.mapper.ContractGoodsMapper">
    <select id="selectContractPage" parameterType="map" resultType="map">
        select
        a.id,
        a.buynum,
        a.buycode,
        a.buymoney,
        a.buyprice,
        a.contractbasicid,
        a.createtime,
        a.flag,
        a.planbum,
        a.wzcode,
        a.wzname,
        a.updatetime,
        a.unit,
        a.planprice,
        a.plancode,
        a.summoney,
        b.synum,
        a.modelspcification
        from
        wmdb.wm_contractgoods a
        left join wmdb.wm_buylist b on a.plancode = b.plancode
        and a.buycode = b.buycode
        and a.wzcode = b.wzcode


        <where>
            <if test="1==1">
                a.flag = 'E'
            </if>
            <if test="contractbasicid != null and contractbasicid != ''">
                <bind name="pattern" value="contractbasicid'"/>
                and a.contractbasicid = #{pattern}
            </if>
        </where>
    </select>
    <select id="selectallList" resultType="map">
select
	a.id as id,
	a.contractbasicid as contractbasicid,
	a.buycode as buycode,
	a.plancode as plancode,
	a.wzcode as wzcode,
	a.wzname as wzname,
	a.planbum as planbum,
	a.planprice as planprice
from
	wm_contractgoods a,
	wm_contractbasic b
where
	a.contractbasicid = b.serialsnumber
	and b.spcode = '99'
	and b.flag = 'E'
	and a.flag = 'E'
	and to_number( a.syrksum ) &gt; 0
	</select>
</mapper>