<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchenpan.mapper.LogsMapper">
    <resultMap id="BaseResultMap" type="com.hchenpan.pojo.Logs">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="CREATORID" jdbcType="VARCHAR" property="creatorid"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="CREATETIME" jdbcType="VARCHAR" property="createtime"/>
        <result column="UPDATERID" jdbcType="VARCHAR" property="updaterid"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime"/>
        <result column="DESCRIPTION" jdbcType="VARCHAR" property="description"/>
        <result column="FLAGID" jdbcType="VARCHAR" property="flagid"/>
        <result column="IPADDRESS" jdbcType="VARCHAR" property="ipaddress"/>
        <result column="NAME" jdbcType="VARCHAR" property="name"/>
        <result column="OLDCONTENT" jdbcType="VARCHAR" property="oldcontent"/>
        <result column="OPTCONTENT" jdbcType="VARCHAR" property="optcontent"/>
        <result column="PARAMS" jdbcType="VARCHAR" property="params"/>
        <result column="REALNAME" jdbcType="VARCHAR" property="realname"/>
    </resultMap>

</mapper>