<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchenpan.mapper.PlanlistMapper">
    <resultMap id="BaseResultMap" type="com.hchenpan.pojo.Planlist">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="CREATORID" jdbcType="VARCHAR" property="creatorid"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="CREATETIME" jdbcType="VARCHAR" property="createtime"/>
        <result column="UPDATERID" jdbcType="VARCHAR" property="updaterid"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime"/>
        <result column="FLAG" jdbcType="VARCHAR" property="flag"/>
        <result column="HOSTNAME" jdbcType="VARCHAR" property="hostname"/>
        <result column="MODELSPCIFICATION" jdbcType="VARCHAR" property="modelspcification"/>
        <result column="NOTE" jdbcType="VARCHAR" property="note"/>
        <result column="PLANCODE" jdbcType="VARCHAR" property="plancode"/>
        <result column="PLANCODEID" jdbcType="VARCHAR" property="plancodeid"/>
        <result column="PLANMONEY" jdbcType="VARCHAR" property="planmoney"/>
        <result column="PLANNAME" jdbcType="VARCHAR" property="planname"/>
        <result column="PLANNUM" jdbcType="VARCHAR" property="plannum"/>
        <result column="PLANTYPE" jdbcType="VARCHAR" property="plantype"/>
        <result column="PRICE" jdbcType="VARCHAR" property="price"/>
        <result column="SPMONEY" jdbcType="VARCHAR" property="spmoney"/>
        <result column="SPNUM" jdbcType="VARCHAR" property="spnum"/>
        <result column="SPPRICE" jdbcType="VARCHAR" property="spprice"/>
        <result column="SYNUM" jdbcType="VARCHAR" property="synum"/>
        <result column="TUHAO" jdbcType="VARCHAR" property="tuhao"/>
        <result column="UNIT" jdbcType="VARCHAR" property="unit"/>
        <result column="WZCODE" jdbcType="VARCHAR" property="wzcode"/>
        <result column="WZID" jdbcType="VARCHAR" property="wzid"/>
        <result column="WZNAME" jdbcType="VARCHAR" property="wzname"/>
        <result column="ZJCODE" jdbcType="VARCHAR" property="zjcode"/>
        <result column="ZJNAME" jdbcType="VARCHAR" property="zjname"/>
    </resultMap>

</mapper>