<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchenpan.mapper.TransferlistMapper">
    <update id="updateMXById" parameterType="java.lang.String">
        UPDATE
            WM_TRANSFERLIST
        SET
            APPLYTRANSFERCODE = #{applytransfercode,jdbcType=VARCHAR},
            SBUNIT=#{sbunit,jdbcType=VARCHAR},
            SBUNITID=#{sbunitid,jdbcType=VARCHAR}
        WHERE
            APPLYTRANSFERCODEID=#{id,jdbcType=VARCHAR}
    </update>

</mapper>