<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hchenpan.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.hchenpan.pojo.User">
        <id column="ID" jdbcType="VARCHAR" property="id"/>
        <result column="CREATORID" jdbcType="VARCHAR" property="creatorid"/>
        <result column="CREATOR" jdbcType="VARCHAR" property="creator"/>
        <result column="CREATETIME" jdbcType="VARCHAR" property="createtime"/>
        <result column="UPDATERID" jdbcType="VARCHAR" property="updaterid"/>
        <result column="UPDATER" jdbcType="VARCHAR" property="updater"/>
        <result column="UPDATETIME" jdbcType="VARCHAR" property="updatetime"/>
        <result column="USERNAME" jdbcType="VARCHAR" property="username"/>
        <result column="PASSWORD" jdbcType="VARCHAR" property="password"/>
        <result column="REALNAME" jdbcType="VARCHAR" property="realname"/>
        <result column="DEPARTMENT" jdbcType="VARCHAR" property="department"/>
        <result column="TEL" jdbcType="VARCHAR" property="tel"/>
        <result column="ISSUPER" jdbcType="VARCHAR" property="issuper"/>
        <result column="LASTLOGINTIME" jdbcType="VARCHAR" property="lastlogintime"/>
        <result column="APPLOGIN" jdbcType="VARCHAR" property="applogin"/>
        <result column="DEPARTMENTID" jdbcType="VARCHAR" property="departmentid"/>
        <result column="STATE" jdbcType="VARCHAR" property="state"/>
    </resultMap>
    <sql id="Base_Column_List">
    ID, CREATORID, CREATOR, CREATETIME, UPDATERID, UPDATER, UPDATETIME, USERNAME, PASSWORD, 
    REALNAME, DEPARTMENT, TEL, ISSUPER, LASTLOGINTIME, APPLOGIN, DEPARTMENTID, STATE
  </sql>

</mapper>